.container, .row, .card {
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: rgb(93, 101, 105);
  }
  
  #title {
    text-transform: uppercase;
    padding: 16px 0px 16px 0px;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0px 16px 0px;
    border: 0;
  }
  
  .col-div {
    margin-bottom: 24px;
  }
  
  .card {
    background-image: linear-gradient(to right, rgb(204, 183, 141), darkslategrey);
    border: 1px solid rgb(192, 194, 179);
  }
  
  .card-title {
    border-radius: 4px 4px 0px 0px;
    font-size: 18px;
    padding: 15px;
  }
  
  .card-text {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .heading {
    text-align: center;
    margin: 20px 0;
}

.title {
    font-size: 36px; 
    font-weight: bold;
    color: #343a40; 
}

#description {
    font-size: 20px; 
    margin-top: 10px;
    color: #495057; 
} 